footer {
	background-color: white;
    height: 62px;
    width: 100%;
    border-top: 1.2px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
}
